* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body,
html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #fff;
  --primary: #2f57ef;
  --black: #192335;
  --gray: #6b7385;
  --lightgray: #777777;
  --white: #fff;
  --white: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1330px;
  padding: 0 15px;
}
.container-fluid {
  max-width: 100%;
  padding: 0 50px;
}
button {
  outline: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexcenter {
  display: flex;
  align-items: center;
}
.flexCol {
  flex-direction: column;
}
.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 20px;
}
.gap-3 {
  gap: 30px;
}
.gap-4 {
  gap: 40px;
}
.gap-8 {
  gap: 8px;
}
.gap-6 {
  gap: 60px;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.bg-color {
  background: #f5f7fa;
}
/* ----------Header Section----------- */
header .nav_top {
  padding: 10px 0;
}
header .nav_top .left_side p {
  color: var(--gray);
  font-size: 13px;
}
header .nav_top .right_side img {
  width: 20px;
}
header .nav_top .right_side h4 {
  font-size: 14px;
  color: var(--gray);
}
header .nav_top .right_side h4 i {
  font-size: 8px;
}
header nav .navbar {
  background: var(--white);
  padding: 8px 25px;
  box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
  border-radius: 6px;
}
header nav .navbar .logo img,
footer .grid .col:nth-of-type(1) img {
  width: 150px;
}
header nav .navbar ul li a {
  color: var(--black);
  font-size: 15px;
}

header .hero_sec {
  padding: 140px 0;
  background: url('asset/imgs/bg-image-13.jpg');
  background-size: cover;
  background-position: center;
}
header .hero_sec .box .badge,
.community .grid-2 .col .badge {
  border-radius: 40px;
  padding: 10px 15px;
  background: #e2d5fccc;
  width: max-content;
}
header .hero_sec .box .badge img {
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}
header .hero_sec .box .badge span {
  font-size: 14px;
  color: var(--black);
}
header .hero_sec .box .badge span span {
  color: #2f57ef;
  font-weight: 600;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-4 {
  margin-bottom: 40px;
}
header .hero_sec .box h1 {
  font-size: 51px;
  line-height: 56px;
  color: var(--black);
  font-weight: 700;
}
header .hero_sec .box p {
  font-size: 24px;
  line-height: 36px;
  color: var(--gray);
  font-weight: 500;
}
header .hero_sec .box button {
  background: #2f57ef;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  border: none;
  padding: 20px 35px;
  border-radius: 5px;
}
header .hero_sec .box button:hover {
  background-color: #b966e7;
  box-shadow: 0px 15px 30px -2px rgba(0, 0, 0, 0.1);
}
header .hero_sec .box .link i {
  height: 30px;
  width: 30px;
  color: var(--primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: var(--white);
  border-radius: 50%;
}
header .hero_sec .box .link h3 {
  font-size: 14px;
  color: var(--gray);
}
header .nav_full {
  background: var(--white);
  box-shadow: 0px 20px 34px rgba(0, 0, 0, 0.0509803922);
}
header .nav_full .navbar {
  box-shadow: none;
  padding: 8px 0;
}
header .nav_full .logo button {
  border-radius: 40px;
  background: #f5f5f5;
  color: var(--black);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}
header .nav_full .cart {
  position: relative;
}
header .nav_full .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.4s;
  color: var(--black);
  background: #fff;
}
header .nav_full .icon:hover {
  background: #f6f6f6;
  cursor: pointer;
}
header .nav_full .cart span {
  position: absolute;
  top: 0px;
  right: -2px;
  border-radius: 50%;
  background: var(--primary);
  color: var(--white);
  font-size: 11px;
  width: 16px;
  height: 16px;
}
header .nav_dark {
  background: var(--black);
}
header .nav_dark .flexBetween .center {
  flex-basis: 33%;
}
header .nav_dark .flexBetween .center button {
  border-radius: 40px;
  background: var(--primary);
  color: var(--white);
  padding: 8px 14px;
  border: none;
}
header .nav_dark .flexBetween .center p {
  color: #ffffffab;
  font-size: 12px;
}
header .nav_dark .flexBetween .left_side i,
header .nav_dark .flexBetween .left_side span,
header .nav_dark .flexBetween .right_side span,
header .nav_dark .flexBetween .right_side i {
  color: #ffffffab;
}
/* ----------Services Section----------- */
.services,
.instructor,
.our_post,
.community,
.pricing,
.aboutus,
.register_Sec {
  padding: 120px 0;
}
.heading {
  text-align: center;
  margin-bottom: 60px;
}
.heading .badge,
.pricing .flexBetween .left .badge {
  font-size: 14px;
  text-transform: uppercase;
  color: #b966e7;
  font-weight: 600;
  background: #b966e721;
  border-radius: 40px;
  max-width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
}
.heading h2 {
  font-size: 44px;
  line-height: 50px;
  margin-top: 15px;
  color: var(--black);
  font-weight: 700;
}
.heading p {
  color: var(--gray);
  font-size: 20px;
  line-height: 35px;
  margin-top: 20px;
}
.services .grid-4 .col {
  padding: 30px;
  background: #fffccf;
  border-radius: 6px;
}
.services .grid-4 .col:nth-of-type(2) {
  background: #feedfe;
}
.services .grid-4 .col:nth-of-type(3) {
  background: #fee8eb;
}
.services .grid-4 .col:nth-of-type(4) {
  background: #e9f5fe;
}
.services .grid-4 .col img,
.instructor .grid-3 .col img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}
.services .grid-4 .col h2 {
  margin-bottom: 16px;
  font-size: 20px;
  color: var(--black);
}
.services .grid-4 .col ul li {
  margin-bottom: 8px;
}
.services .grid-4 .col ul {
  margin-bottom: 50px;
}
.services .grid-4 .col ul li p {
  font-size: 16px;
  color: var(--gray);
}
.services .grid-4 .col a {
  font-size: 14px;
  color: var(--black);
}
.services .grid-4 .col a i {
  font-size: 10px;
  margin-left: 4px;
}

.services .grid-2 {
  margin-top: 120px;
}
.services .grid-2 .col,
.instructor .grid-3 .col {
  background: var(--white);
  border-radius: 6px;
  box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
  padding: 40px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}
.services .grid-2 .col button {
  font-size: 14px;
  color: var(--gray);
  border: 1px solid #e6e3f1;
  border-radius: 40px;
  padding: 9px 20px;
  background: transparent;
}
.services .grid-2 .col button:hover {
  background: rgba(207, 207, 207, 0.24);
}
.services .grid-2 .col button.primary {
  margin-top: 20px;
}
.primary {
  padding: 0 22px !important;
  color: var(--white) !important;
  font-weight: 600 !important;
  border-radius: 5px !important;
  font-size: 16px !important;
  border: none !important;
  height: 45px;
  background-size: 300% 100% !important;
  background-image: linear-gradient(
    to right,
    #2157ef,
    #b966e7,
    #b966e7,
    #2157ef
  ) !important;
}
.services .grid-2 .col h2 {
  color: var(--black);
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 35px;
}
.services .grid-2 .col p {
  font-size: 18px;
  color: var(--gray);
}
.services .grid-2 .col .grid {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 30px;
  align-items: center;
}
.services .grid-2 .col .grid .item {
  position: relative;
}
.services .grid-2 .col .grid .item img,
.courses .grid-3 .col img {
  width: 100%;
  border-radius: 5px;
}
.services .grid-2 .col .grid .item i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: var(--primary);
}
/* ----------Courses Section----------- */
.courses {
  padding-bottom: 120px;
}
.courses .grid-3 {
}
.courses .grid-3 .col {
  background: var(--white);
  border-radius: 6px;
  box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
  padding: 30px;
}
.courses .grid-3 .col img {
  margin-bottom: 40px;
}
.courses .grid-3 .col .flexBetween h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
}
.courses .grid-3 .col .flexBetween i {
  font-size: 16px;
}
.courses button,
.our_post button,
.instructor button {
  display: block;
  font-size: 16px;
  margin: 0 auto;
  color: var(--white);
  background: var(--primary);
  border-radius: 5px;
  padding: 18px 38px;
  font-weight: 600;
  margin-top: 50px;
  border: none;
}
/* ----------Community Section----------- */
.community {
}
.community .grid-2,
.aboutus .grid-2 {
  height: 100%;
  align-items: center;
}
.community .grid-2 .col .grid-2 .item {
  text-align: center;
  box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
  padding: 30px 30px 50px 30px;
  border-radius: 5px;
  transition: 0.4s;
}
.community .grid-2 .col .grid-2 .item:hover {
  transform: translateY(-8px);
}
.community .grid-2 .col .grid-2 .item img {
  width: 100px;
  height: 100px;
}
.community .grid-2 .col .grid-2 .item h2 {
  font-size: 44px;
  color: var(--black);
  margin-top: 15px;
}
.community .grid-2 .col .grid-2 .item:nth-of-type(2) {
  margin-bottom: -20px;
}
.community .grid-2 .col .grid-2 .item:nth-of-type(2),
.community .grid-2 .col .grid-2 .item:nth-of-type(4) {
  margin-top: 40px;
}
.community .grid-2 .col .grid-2 .item:nth-of-type(3) {
  margin-bottom: 40px;
}
.community .grid-2 .col .grid-2 .item p {
  font-size: 18px;
  margin: 0;
}
.community .grid-2 .col .badge,
.pricing .flexBetween .left .badge {
  background: #db709321;
  color: #db7093;
  padding: 8px 20px;
  font-weight: 500;
  font-size: 14px;
}
.community .grid-2 .col h1 {
  font-size: 44px;
  color: var(--black);
  font-weight: 700;
  line-height: 54px;
  margin-top: 15px;
}
.community .grid-2 .col p {
  font-size: 20px;
  color: var(--gray);
  line-height: 38px;
  margin: 20px 0 30px 0;
}
.community .grid-2 .col ul li {
  margin-bottom: 30px;
}
.community .grid-2 .col ul li i {
  height: 50px;
  width: 50px;
  font-size: 18px;
  background: #2f57ef21;
  border-radius: 50%;
  color: var(--primary);
}
.community .grid-2 .col ul li:nth-of-type(2) i {
  background: #b966e721;
  color: #b966e7;
}
.community .grid-2 .col ul li:nth-of-type(3) i {
  background: #db709321;
  color: #db7093;
}
.community .grid-2 .col ul li h3 {
  font-size: 20px;
  color: var(--black);
  font-weight: 400;
}
/* ----------Pricing Section----------- */
.pricing {
}
.pricing .flexBetween {
  margin-bottom: 100px;
}
.pricing .flexBetween .left .badge {
  margin: 0;
}
.pricing .flexBetween .left h1 {
  font-size: 44px;
  line-height: 48px;
  font-weight: 700;
  margin-top: 12px;
}
.pricing .flexBetween .right .flexcenter {
  background: var(--white);
  border-radius: 40px;
  padding: 16px 20px;
}
.pricing .flexBetween .right .flexcenter button {
  font-size: 20px;
  color: var(--black);
  border-radius: 40px;
  background: transparent;
  border: none;
  padding: 14px 35px;
  font-weight: 500;
}
.pricing .flexBetween .right .flexcenter button:nth-of-type(2) {
  background-size: 300% 100% !important;
  background-image: linear-gradient(
    to right,
    #2157ef,
    #b966e7,
    #b966e7,
    #2157ef
  ) !important;
  color: var(--white);
}
.pricing .grid-3 .col {
  text-align: center;
  padding: 60px 0;
}
.pricing .grid-3 .col img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}
.pricing .grid-3 .col .content {
  padding: 40px 60px;
  margin: 40px 0;
  border-top: 1px solid #e6e3f1;
  border-bottom: 1px solid #e6e3f1;
}
.pricing .grid-3 .col h2 {
  font-size: 24px;
  color: var(--black);
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 30px;
}
.pricing .grid-3 .col p {
  font-size: 14px;
  color: var(--gray);
  margin-bottom: 15px;
}
.pricing .grid-3 .col h1 {
  font-size: 50px;
  color: var(--black);
  font-weight: 500;
  line-height: 50px;
  color: var(--primary);
}
.pricing .grid-3 .col h1 span {
  font-size: 16px;
}
.pricing .grid-3 .col ul li {
  font-size: 18px;
  margin-bottom: 16px;
  color: var(--gray);
}
.pricing .grid-3 .col ul li span {
  opacity: 0.5;
  text-decoration: line-through;
}
.pricing .grid-3 .col button {
  border-radius: 40px;
  font-size: 16px;
  color: var(--black);
  border: 1px solid #e6e3f1;
  background: transparent;
  padding: 18px 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  margin: 30px auto 0 auto;
}
.pricing .grid-3 .col:nth-of-type(2) {
  transform: scale(1.1);
  background: var(--white);
  box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
  border-radius: 5px;
}
.pricing .grid-3 .col:nth-of-type(2) button {
  background-size: 300% 100% !important;
  color: var(--white);
  background-image: linear-gradient(
    to right,
    #2157ef,
    #b966e7,
    #b966e7,
    #2157ef
  ) !important;
}
/* ----------Our Instructor Section----------- */
.instructor {
}
.instructor .grid-3 .col {
  text-align: center;
  padding: 30px;
  align-items: center;
  transition: 0.4s;
}
.instructor .grid-3 .col:hover {
  transform: scale(1.02);
}
.instructor .grid-3 .col img {
}
.instructor .grid-3 .col h2 {
  font-size: 24px;
  line-height: 30px;
}
.instructor .grid-3 .col p {
  font-size: 14px;
  color: var(--gray);
}
.instructor .grid-3 .col p.linear {
  background: linear-gradient(90deg, var(--primary), #b966e7);
  -webkit-background-clip: text;
  font-size: 18px;
  margin: 12px 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.001);
}

/* ----------AboutUs Section----------- */
.aboutus .heading .badge {
  background: #2f57ef21;
  color: var(--primary);
}
.aboutus .grid-2 .col .flexcenter {
  margin-bottom: 20px;
}
.aboutus .grid-2 .col .flexcenter i {
  color: #ff8f3c;
}
.aboutus .grid-2 .col h2 {
  font-size: 30px;
  line-height: 40px;
  color: var(--gray);
  margin-bottom: 30px;
  font-weight: 500;
}
.aboutus .grid-2 .col p {
  font-size: 16px;
  line-height: 25px;
  color: var(--black);
  text-transform: uppercase;
}
.aboutus .grid-2 .col p span {
  color: var(--primary);
}
.aboutus .grid-2 .col .flex_imgs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.aboutus .grid-2 .col .flex_imgs .Img img {
  width: 140px;
  height: 140px;
  border: 9px solid var(--white);
}
.aboutus .grid-2 .col .flex_imgs .Img {
  position: relative;
}
.aboutus .grid-2 .col .flex_imgs .Img::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-color: hsla(0, 0%, 100%, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  border-radius: 6px;
}
.aboutus .grid-2 .col .flex_imgs .Img.active {
  transform: scale(1.1);
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}
.aboutus .grid-2 .col .flex_imgs .Img.active::after {
  background-color: hsla(0, 0%, 100%, 0);
}
/* ----------Our Post Section----------- */
.our_post .our_post .grid-3 {
}
.our_post .grid-3 .col {
  border-radius: 6px;
  transition: 0.4s;
  box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
}
.our_post .grid-3 .col:hover {
  transform: scale(1.02);
}
.our_post .grid-3 .col img {
  width: 100%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.our_post .grid-3 .col .content {
  padding: 30px;
  background: var(--white);
}
.our_post .grid-3 .col h2 {
  font-size: 26px;
  line-height: 35px;
  color: var(--black);
  margin-bottom: 10px;
}
.our_post .grid-3 .col p {
  color: var(--gray);
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}
.our_post .grid-3 .col a {
  font-size: 14px;
  color: var(--black);
}
.our_post .grid-3 .col a i {
  margin-left: 3px;
}
/* ----------Gallery Section----------- */
.gallery .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.gallery .grid img {
  width: 100%;
  cursor: pointer;
}
/* ----------Footer Section----------- */
footer {
  padding: 80px 0 20px 0;
}
footer .grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 30px;
}
footer .grid .col .flexcenter i {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #f6f6f6;
  transition: all 0.5s ease;
  color: var(--gray);
}
footer .grid .col .flexcenter i:hover {
  background: var(--primary);
  color: var(--white);
  cursor: pointer;
}
footer .grid .col:nth-of-type(1) p {
  margin: 20px 0 30px 0;
}
footer .grid .col:nth-of-type(1) button {
  padding: 18px 40px;
  font-size: 16px;
  color: var(--black);
  background: transparent;
  margin-top: 30px;
  border-radius: 40px;
}
footer .grid .col:nth-of-type(4) button {
  border-radius: 40px;
  background-size: 300% 100% !important;
  background-image: linear-gradient(
    to right,
    #2157ef,
    #b966e7,
    #b966e7,
    #2157ef
  ) !important;
  color: var(--white);
  padding: 13px 30px;
  border: none;
  font-size: 16px;
  font-weight: 500;
}
footer .grid .col h3 {
  font-size: 20px;
  color: var(--black);
  margin-bottom: 20px;
}
footer .grid .col ul li,
footer .grid .col:nth-of-type(4) p {
  margin-bottom: 12px;
}
footer .grid .col ul li a,
footer .grid .col:nth-of-type(4) p {
  font-size: 16px;
  color: var(--gray);
}
footer .grid .col .strong {
  color: var(--black) !important;
  font-weight: 700;
}
footer .grid .col .flexBetween {
  position: relative;
  border-bottom: 2px solid #e6e3f1;
  margin-bottom: 20px;
}
footer .grid .col .flexBetween input {
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
  padding: 8px 20px 8px 5px;
}
footer .grid .col .flexBetween i {
}
footer .footer_btm {
  margin-top: 90px;
  padding-top: 30px;
  border-top: 1px solid #e6e3f1;
}
footer .footer_btm .flexBetween p,
footer .footer_btm .flexBetween .flexcenter a {
  font-size: 16px;
  color: var(--gray);
}
footer .footer_btm .flexBetween .flexcenter {
}
footer .footer_btm .flexBetween .flexcenter a {
}
/* ----------Profile Section----------- */
header .gradient_box {
  height: 295px;
  position: relative;
  z-index: -4;
  background: linear-gradient(
    270deg,
    #b966e7 0%,
    var(--primary) 100%
  ) !important;
}
header .gradient_box::after {
  background: linear-gradient(
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}
header .profile_box {
  margin-top: -160px;
  margin-bottom: 30px;
}
header .dashboard_box .box {
  background: url("asset/imgs/bg-image-22.jpg") !important;
  z-index: 1 !important;
  border-radius: 10px !important;
  background-position: center !important;
  background-size: cover !important;
  position: relative !important;
}
header .profile_box .box {
  background: url("asset/imgs/bg-image-23.jpg");
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
header .profile_box .box::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: block;
  z-index: -1;
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.5) 90%
  );
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
  border-radius: 6px;
}
header .profile_box .flexBetween {
  padding: 180px 40px 30px 40px;
}
header .profile_box .flexBetween .left_side {
  color: var(--white);
}
header .dashboard_box .flexBetween .left_side i {
  color: #ff9747;
}
header .dashboard_box .flexBetween .left_side span {
  font-size: 14px;
}
header .profile_box .flexBetween .left_side img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid var(--white);
}
header .profile_box .flexBetween .left_side .content h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
header .profile_box .flexBetween .left_side .content i {
  font-size: 12px;
}
header .profile_box .flexBetween .left_side .content p {
  font-size: 14px;
}
header .profile_box .flexBetween .right_side button {
  background: var(--primary);
  color: var(--white);
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--primary);
  border-radius: 6px;
}
/* ----------Courses Section----------- */
.courses {
}
.courses .grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 3fr;
}
.courses .grid .col,
.dashboard .grid .col .dashboard_grid_sec,
.dashboard .grid .col .dashboard_reviews,
.courses .grid .col .tabs_section .grid-3 .item {
  background: var(--white);
  transition: 0.4s;
  box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
  padding: 30px;
  border-radius: 6px;
}
.courses .grid .col:nth-of-type(1) {
  background: linear-gradient(-145deg, #cfa2e8, #637fea) !important;
  z-index: 10;
  position: relative;
}
.courses .grid .col:nth-of-type(1)::after {
  content: "";
  z-index: -1;
  top: 3px;
  left: 3px;
  position: absolute;
  background: #fff;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 6px;
}
.courses .grid .col .tabs_section .grid-3 .item:hover {
  transform: scale(1.02);
}
.courses .grid .col .links:nth-of-type(1) {
  margin-bottom: 30px;
}
.courses .grid .col .links h3 {
  font-size: 12px;
  color: var(--black);
  opacity: 0.5;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.courses .grid .col .links ul li {
  margin: 10px 0;
  color: var(--gray);
  padding: 10px 0;
  border-bottom: 1px solid #e6e3f1;
}
.courses .grid .col .links ul li i {
  font-size: 13px;
}
.courses .grid .col .links ul li p {
  font-size: 15px;
  color: var(--gray);
  transition: 0.5s;
  font-weight: 500;
}
.courses .grid .col .links ul li p:hover {
  color: var(--primary);
  cursor: pointer;
}
.courses .grid .col .tabs_section .grid-3 img {
  width: 100%;
  border-radius: 6px;
}
.courses .grid .col .tabs_section .grid-3 h2 {
  font-size: 22px;
  line-height: 30px;
  color: var(--black);
  margin-bottom: 10px;
}
.mb-1 {
  margin-bottom: 14px;
  margin-top: 20px;
}
.courses .grid .col .tabs_section .grid-3 .flexcenter i {
  font-size: 13px;
}
.courses .grid .col .tabs_section .grid-3 .flexcenter i.fa-star {
  color: #ff9747;
}
.courses .grid .col .tabs_section .grid-3 .flexcenter span {
  font-size: 13px;
  color: var(--gray);
}
.courses .grid .col .tabs_section .grid-3 .progress_bar {
  margin-top: 15px;
}
.courses .grid .col .tabs_section .grid-3 .progress_bar span {
  font-size: 12px;
  color: var(--black);
  text-transform: uppercase;
}
.courses .grid .col .tabs_section .grid-3 .progress_bar .bar {
  background: #f6f6f6;
  margin-top: 5px;
  width: 100%;
  height: 5px;
}
.courses .grid .col .tabs_section .grid-3 .progress_bar .bar .range {
  background: #3eb75e;
  width: 90%;
  height: 100%;
}
.courses .grid .col .tabs_section .grid-3 button {
  background: #2f57ef21;
  color: var(--primary);
  margin-top: 20px;
  font-size: 16px;
  padding: 14px 20px;
  display: block;
  width: 100%;
}
.courses .grid .col .top_sec {
  border-bottom: 1px solid #e6e3f1;
  margin-bottom: 24px;
  padding-bottom: 20px;
}
.courses .grid .col .top_sec h2 {
  font-size: 20px;
}
.courses .grid .col .tabs_section .tabs {
  display: flex;
  align-items: center;
  gap: 50px;
  border-bottom: 2px solid #e6e3f1;
  margin-bottom: 30px;
}
.courses .grid .col .tabs_section .tabs .tab {
  padding: 16px 28px;
  position: relative;
  font-size: 18px;
  color: var(--black);
  font-weight: 500;
}
.courses .grid .col .tabs_section .tabs .tab.active {
  color: var(--primary);
}
.courses .grid .col .tabs_section .tabs .tab.active::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 1;
  background-color: var(--primary);
  transition: transform 0.3s;
}
.dashboard .grid .col:nth-of-type(2) {
  background: transparent;
  box-shadow: none;
  padding: 0;
}
.dashboard .grid .col .dashboard_grid_sec {
  margin-bottom: 50px;
}
.dashboard .grid .col .dashboard_grid_sec .grid-3 .Item {
  text-align: center;
  padding: 30px 30px 50px 30px;
  background: #2f57ef21;
  border-radius: 6px;
  color: var(--primary);
  border: 2px solid #e6e3f1;
}
.dashboard .grid .col .dashboard_grid_sec .grid-3 .Item:nth-of-type(2) {
  background: #b966e721;
  color: #b966e7;
}
.dashboard .grid .col .dashboard_grid_sec .grid-3 .Item:nth-of-type(2) i {
  background: #b966e721;
}
.dashboard .grid .col .dashboard_grid_sec .grid-3 .Item:nth-of-type(3) i {
  background: #80008021;
}
.dashboard .grid .col .dashboard_grid_sec .grid-3 .Item:nth-of-type(4) i {
  background: #db709321;
}
.dashboard .grid .col .dashboard_grid_sec .grid-3 .Item:nth-of-type(5) i {
  background: #e9967a21;
}
.dashboard .grid .col .dashboard_grid_sec .grid-3 .Item:nth-of-type(6) i {
  background: #ff8f3c10;
}
.dashboard .grid .col .dashboard_grid_sec .grid-3 .Item:nth-of-type(3) {
  background: #80008021;
  color: #800080;
}
.dashboard .grid .col .dashboard_grid_sec .grid-3 .Item:nth-of-type(4) {
  background: #db709321;
  color: #db7093;
}
.dashboard .grid .col .dashboard_grid_sec .grid-3 .Item:nth-of-type(5) {
  background: #e9967a21;
  color: #e9967a;
}
.dashboard .grid .col .dashboard_grid_sec .grid-3 .Item:nth-of-type(6) {
  background: #ff8f3c10;
  color: #ff8f3c;
}

.dashboard .grid .col .dashboard_grid_sec .grid-3 .Item i {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  box-shadow: 0 13px 14px 0 rgba(129, 104, 145, 0.05);
  border-radius: 50%;
  font-size: 18px;
  background: #2f57ef21;
}
.dashboard .grid .col .dashboard_grid_sec .grid-3 .Item h2 {
  margin: 20px 0 15px 0;
  font-size: 50px;
  line-height: 50px;
}
.dashboard .grid .col .dashboard_grid_sec .grid-3 .Item p {
  font-size: 12px;
}
.dashboard .grid .col .dashboard_reviews .table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  text-align: left;
}
.dashboard .grid .col .dashboard_reviews .table table thead {
  background: #e4e9fd;
}
.dashboard .grid .col .dashboard_reviews .table table thead th,
.dashboard .grid .col .dashboard_reviews .table table tbody tr a {
  font-size: 16px;
  color: var(--black);
}
.dashboard .grid .col .dashboard_reviews .table table th,
td {
  padding: 10px 20px;
}
.dashboard .grid .col .dashboard_reviews .table table tbody tr {
}
.dashboard .grid .col .dashboard_reviews .table table tbody tr a {
  font-weight: 400;
}
.dashboard .grid .col .dashboard_reviews .table table tbody td {
  color: var(--gray);
}
.bg_gray {
  background: #f4f4f4;
}
.dashboard .grid .col .dashboard_reviews .table table tbody tr i {
  color: #ff8f3c;
  font-size: 14px;
}

.mobile_hide {
  display: block;
}
.mobile_show,
.sidebar_sec {
  display: none;
}
/* ----------Register Section----------- */
.register_Sec .box {
  box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
  padding: 50px 50px 50px 60px;
  background: #ffffff;
  border-radius: 6px;
  max-width: 600px;
  margin: 0 auto;
}
.register_Sec .box h1 {
  font-size: 34px;
  color: var(--black);
  margin-bottom: 20px;
}
.register_Sec .box form {
  display: flex;
  flex-direction: column;
}
.register_Sec .box form .flexBetween {
  margin-bottom: 30px;
}
.register_Sec .box form .flexBetween .flexcenter input {
  height: 15px;
  margin: 0;
  width: auto;
}
.register_Sec .box form .flexBetween .flexcenter p {
  font-size: 15px;
  color: var(--gray);
}
.register_Sec .box form .flexBetween a {
  font-size: 14px;
  color: var(--black);
}
.register_Sec .box form input {
  border: 0;
  outline: none;
  border-bottom: 2px solid #e6e3f1;
  background-color: transparent;
  padding-bottom: 8px;
  font-size: 16px;
  padding-top: 20px;
  height: 50px;
  border-radius: 0;
  width: 100%;
  padding-left: 0;
  line-height: 28px;
  padding-right: 0;
  margin-bottom: 30px;
}
.register_Sec .box form button {
  background-size: 300% 100%;
  border-radius: 5px;
  color: var(--white);
  font-size: 16px;
  border: none;
  font-weight: 500;
  padding: 14px 30px;
  transition: all 0.4s;
  background-image: linear-gradient(
    to right,
    #2157ef,
    #b966e7,
    #b966e7,
    #2157ef
  );
}
.register_Sec .box form button:hover,
.primary:hover {
  background-image: linear-gradient(
    to right,
    #b966e7,
    #2157ef,
    #2157ef,
    #b966e7
  ) !important;
}
.linear_heading_box {
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(239, 241, 255) 100%);
  padding: 100px 0;
  text-align: center;
}
.linear_heading_box h1 {
  font-size: 50px;
  line-height: 55px;
  color: var(--black);
  margin-bottom: 8px;
}
.linear_heading_box p {
  font-size: 14px;
}
.linear_heading_box p a {
  color: var(--gray);
}
.linear_heading_box i {
  font-size: 11px;
  color: var(--gray);
}
/* ----------Header Section----------- */
/* ----------Header Section----------- */
/* ----------Header Section----------- */
/* ----------Header Section----------- */
/* ----------Header Section----------- */
/* ----------Header Section----------- */
/* ----------Header Section----------- */
/* ----------Header Section----------- */
/* ----------Header Section----------- */

@media (max-width: 768px) {
  .grid-2,
  footer .grid,
  .grid-4,
  .services .grid-2 .col .grid,
  .grid-3,
  .courses .grid {
    grid-template-columns: 1fr;
  }
  .gallery .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .container-fluid {
    padding: 0 20px;
  }

  header .nav_dark .flexBetween .center {
    flex-basis: 100%;
  }
  header .profile_box .flexBetween,
  .pricing .flexBetween,
  footer .footer_btm .flexBetween {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  header .profile_box .flexBetween .left_side .mobile_col {
    flex-direction: column;
    align-items: start;
  }
  header .gradient_box {
    height: 220px;
  }

  .mobile_show .fa-xmark {
    color: #ffffffab;
  }
  header .profile_box .box {
    background-position: center right 33% !important;
  }
  .sidebar_sec {
    display: block;
  }
  .sidebar_sec .sidebar {
    position: fixed;
    z-index: 12;
    left: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    align-items: start;
    top: 0;
    bottom: 0;
    width: 320px;
    padding: 28px;
    background: var(--white);
    color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    scrollbar-width: none;
  }
  .sidebar_sec .sidebar.show {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s linear;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(15px);
    z-index: 11;
    display: none;
  }
  .mobile_show .fa-bars {
    color: var(--black);
  }
  .sidebar_sec .sidebar .social_icons i {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #f6f6f6;
    transition: all 0.5s ease;
    color: var(--gray);
  }
  .sidebar_sec .sidebar .social_icons i:hover {
    background: var(--primary);
    color: var(--white);
    cursor: pointer;
  }
  .sidebar_sec .sidebar .logo,
  .sidebar_sec .sidebar ul {
    width: 100%;
  }
  .sidebar_sec .sidebar .logo img {
    width: 140px;
  }
  .sidebar_sec .sidebar .logo i {
    color: var(--black);
    font-size: 20px;
  }
  .sidebar_sec .sidebar p {
    margin: 20px 0 30px 0;
    font-size: 16px;
  }
  .sidebar_sec .sidebar .contact,
  .sidebar_sec .sidebar p,
  .sidebar_sec .sidebar h4 {
    color: var(--gray);
  }
  .sidebar_sec .sidebar h4 {
    font-size: 12px;
    opacity: 0.5;
    margin: 20px 0;
  }
  .sidebar_sec .sidebar .contact,
  .sidebar_sec .sidebar ul li {
    border-bottom: 1px solid #e6e3f1;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .sidebar_sec .sidebar .contact .flexcenter {
    margin-bottom: 8px;
  }
  .sidebar_sec .sidebar ul li {
    width: 100%;
    padding: 8px 0 !important;
    margin-bottom: 0;
  }
  .sidebar_sec .sidebar ul li:nth-of-type(6) {
    border: none;
  }
  .sidebar_sec .sidebar ul {
    margin-bottom: 20px;
  }
  .sidebar_sec .sidebar ul li a {
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
  }
  .sidebar_sec .sidebar .contact i {
    font-size: 14px;
  }
  .sidebar_sec .sidebar .contact a {
    font-size: 12px;
    color: var(--gray);
  }
  .sidebar_sec .sidebar button {
    border-radius: 40px;
    width: 100%;
    color: var(--black);
    font-size: 16px;
    background: var(--white);
    padding: 12px 25px;
  }
  .services .grid-4 .col ul,
  .courses .grid-3 .col img {
    margin-bottom: 20px;
  }
  .community .grid-2 .col:nth-of-type(2) {
    order: -1;
  }
  .pricing .grid-3 .col:nth-of-type(2) {
    transform: scale(1);
  }
  .pricing .grid-3 .col:nth-of-type(2) button {
    width: 90%;
  }
  .aboutus .grid-2 .col:nth-of-type(1) {
    text-align: center;
  }
  .aboutus .grid-2 .col .flexcenter {
    justify-content: center;
  }
  header .hero_sec {
    padding: 80px 0;
  }
  header .menu_btn i {
    font-size: 20px;
  }
  .mobile_show,
  .pricing .grid-3 .col:nth-of-type(2) button {
    display: block;
  }

  .mobile_hide,
  header .nav_dark .flexBetween .right_side,
  header .nav_top .left_side,
  header nav .navbar ul,
  header .nav_full .logo button,
  .mobile_none {
    display: none;
  }

  .dashboard .grid .col .dashboard_grid_sec .grid-3 .Item h2,
  .pricing .grid-3 .col h1,.linear_heading_box h1,
  header .hero_sec .box h1,
  .community .grid-2 .col .grid-2 .item h2 {
    font-size: 35px;
    line-height: 40px;
  }
  .heading h2,.register_Sec .box h1,
  .community .grid-2 .col h1,
  .pricing .flexBetween .left h1 {
    font-size: 30px;
    line-height: 35px;
  }
  footer .grid .col h3,
  .services .grid-2 .col h2,
  .our_post .grid-3 .col h2,
  header .hero_sec .box p,
  .aboutus .grid-2 .col h2 {
    font-size: 18px;
    line-height: 28px;
  }
  footer .grid .col ul li a,
  .services .grid-2 .col p,
  .our_post .grid-3 .col p,
  footer .grid .col:nth-of-type(4) p,
  .community .grid-2 .col p,
  footer .footer_btm .flexBetween p,
  .heading p,
  .community .grid-2 .col .grid-2 .item p,
  footer .footer_btm .flexBetween .flexcenter a {
    font-size: 14px;
    line-height: 24px;
  }
}
